<a href="https://colab.research.google.com/github/Tanishq217/ML-Learning-Journey-/blob/main/00_Python-Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Getting started with python

# simple programs in python !

# data objects >> Lists , Tuple , Dictionary , String , Sets
# Which holds the data for processing !

In [ ]:
# Lets start with python

print("Hello Tanishq")

Hello Tanishq

In [ ]:
a = 12
# = means assignment ! a is variable that refer to 12
b = 12.2

In [ ]:
a

12

In [ ]:
b

12.2

In [ ]:
type(a)

int

In [ ]:
type(b)

float

In [ ]:
c = "Tansihq"
c

'Tansihq'

In [ ]:
type(c)

str

In [ ]:
d = True
d

True

In [ ]:
type(d)

bool

In [ ]:
print(a)
print(b)
print(c)
print(d)

12
12.2
Tansihq
True

***Equality Operator***

In [ ]:
a == 13

False

In [ ]:
b == 12.2

True

In [ ]:
b == 12.3

False

In [ ]:
b = 10

In [ ]:
b

10

In [ ]:
type(b)

int

In [ ]:
b != 11

True

In [ ]:
b != 10

False

**Operators**

In [ ]:
a + b

22

In [ ]:
a/b

1.2

In [ ]:
a//b

1

In [ ]:
a**b

61917364224

In [ ]:
a-b

2

In [ ]:
# / :- Float devision
# // :- Floor devision
# % :- Reminder

In [ ]:
a = 13
b = 3

In [ ]:
a/b

4.333333333333333

In [ ]:
a//b # Floor >>> min side

4

In [ ]:
a%b

1

List In Python >> Indexing and Slicing

In [ ]:
my_list = [1,2,3,4,5,6,True , "Tanishq" , 7]
my_list

[1, 2, 3, 4, 5, 6, True, 'Tanishq', 7]

In [ ]:
type(my_list)

list

In [ ]:
len(my_list)

9

In [ ]:
# Index >>> + and -
print(my_list[0])
print(my_list[7])
print(my_list[-3])

1
Tanishq
True

In [ ]:
# Slicing
my_list[2:5:1] # >>index start from 2 , go upto 5 (excluding) , 1 > diff

[3, 4, 5]

In [ ]:
my_list[1:9:2] # to extract all the even numbers.

[2, 4, 6, 'Tanishq']

In [ ]:
# Conditions in Python
# > if , elif  and else

a = 12

if a % 2 ==0 :
  print("Even")
else :
  print("Odd")

Even

In [ ]:
n = 2
n = 50

if n % 3 == 0 & n % 5 == 0:
  print("Div 3 and 5")
elif n % 3 == 0 :
  print("Div 3")
elif n % 5 ==0 :
  print("Div 5")
else:
  print("None")

Div 5

In [ ]:
# How to write a Loop

for i in my_list :
  print(i)

1
2
3
4
5
6
True
Tanishq
7

***STARTING WITH PANDAS ***

In [ ]:
# Library for Data Manupulationa and data Handling #

In [ ]:
# Data Objects in pandas !

# Series
# Data-Frame

# there are the 2 container in pandas library !

In [ ]:
# Lets say we have a CSV file

# 1) Load this file in Pandas DataFrame !
# 2) Perform Data Manupulation and Analisis !

In [ ]:
# DataFrame > rows and columns > Row Index and Column Headers
# > Each columns > Series !!!! ****
# Combo of series is Called DataFrame !



---

# **PANDAS**

---

---

In [ ]:
# lets get the library and activate that

In [ ]:
import pandas as pd
# pd is like a variable

In [ ]:
# lets make a series

a = pd.Series([1,2,3,4,5,6,7] )
a

# A pandas Series is a one-dimensional data structure, so it can only have one column of data.

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [ ]:
type(a)

pandas.core.series.Series

In [ ]:
# Lets make an Dictionary

my_dict = {'A' : [1,2,3] ,  'B' : [4,5,6]}
my_dict

{'A': [1, 2, 3], 'B': [4, 5, 6]}

In [ ]:
# Now > Convert this dict to DataFrame !!!! #
dataframe = pd.DataFrame(my_dict)

# having rows and columns
dataframe

   A  B
0  1  4
1  2  5
2  3  6

In [ ]:
type(dataframe)

pandas.core.frame.DataFrame

In [ ]:
# Getting data and using it and manuplating it ! #

In [ ]:
# how to upload data

import pandas as pd
# uploading data

# lets load the Titanic Train Data

traindata = pd.read_csv("train.csv")
traindata.head() # head shows the preview !

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
traindata.tail() # return last 5 rows.

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [ ]:
traindata.shape # THIS RETURN THE NUMBER OF ROWS AND COLUMNS

(891, 12)

In [ ]:
traindata.columns  # RETURNS ALL THE NAME OF COLUMNS

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
# I want to fetch out the columns "Survived" !
traindata["Survived"]

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [ ]:
type(traindata["Survived"])  # this is the series from the dataset ! now we understand

pandas.core.series.Series

In [ ]:
# lets say we want to find 2 COLUMNS

traindata[["Survived" , "Pclass"]]


# SERIES IS THE BUILDING BLOCK FOR THE DATAFRAME #

     Survived  Pclass
0           0       3
1           1       1
2           1       3
3           1       1
4           0       3
..        ...     ...
886         0       2
887         1       1
888         0       3
889         1       1
890         0       3

[891 rows x 2 columns]

# `HOW TO PERFORM MATHEMETICAL OPERATIONS IN COLUMN `

In [ ]:
# LEts say we want to find the number of passenger who survived !

# 0 is not survived and 1 is survived !

In [ ]:
# so we can eather find the sum or count the number of 1


traindata["Survived"].sum()

# So 342 people who survived !!

np.int64(342)

In [ ]:
# Lets extract column sex

traindata["Sex"]

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object

In [ ]:
# So we want to count total number or grouping

# VALUECOUNT  >>> COUNT OF EACH CATEGORY IN DESCENDING ORDER !!

traindata["Sex"].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [ ]:
# FInd out how many passenger trabvelling in each class. !

traindata['Pclass'].value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [ ]:
# find max and min from fare column also find the average !

print(traindata["Fare"].max())
print(traindata["Fare"].min())
print(traindata["Fare"].mean())

512.3292
0.0
32.204207968574636

In [ ]:
# ALSO WE NEED TO FIND THE STANDARD DEVEATION
print(traindata["Fare"].std())

49.693428597180905

In [ ]:
# count of number of row
traindata["Fare"].count()

np.int64(891)

In [ ]:
# find avg manually

(traindata["Fare"].sum()) / (traindata["Fare"].count())

np.float64(32.204207968574636)

# `DATA MANIPLATION USING PANDAS`

In [ ]:
# How to get csv file data in panda database !

import pandas as pd

df = pd.read_csv("train.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
print(r"Tanishq\nSingh")

Tanishq\nSingh

In [ ]:
# Filtering the data !

# 1) Index a column

df['Sex'].head()

0      male
1    female
2    female
3    female
4      male
Name: Sex, dtype: object

In [ ]:
a = 12
a == 12

True

In [ ]:
# using this boolean series to filter complete table

df [ df ['Sex'] == 'male'] # we will get only those rows where the sex is male

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
# lets take out all the data where sex is female

In [ ]:
df[df['Sex'] == 'female']

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [ ]:
# Applying Multiple Filters

# ONE FILTER >> df [ condition ]
# MANY FILTER >> df [(condition_1) & (condition_2) & (condition_3)]
# AND -> &
# OR -> |

In [ ]:
# DF ON MALE where sex is m

df[(df['Sex'] == 'male') & (df['Age'] < 25)]
# TWO CONDITIONS > CONDITION 1 and Condition 2
# round brackets are very compulsory !

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S

In [ ]:
# WE NEED ALL FEMALE WITH FARE GREATER THAN 50$ DOLLERS !

df[(df['Sex'] == 'female') & (df['Fare'] > 50)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C
61,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0000,B28,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
849,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C

In [ ]:
# we also need count
df[(df['Sex'] == 'female') & (df['Fare'] > 50)].shape
# this will give us the number of rows and columns

(87, 12)

In [ ]:
# when we need count

df[(df['Sex'] == 'female') & (df['Fare'] > 50)]['PassengerId'].count()
#selects the column PassengerId from the filtered rows.

np.int64(87)

In [ ]:
# How to add or delete a column

# ADDING A COLUMN "Double Price" == Fare * 2

df['Double Price'] = df['Fare'] * 2

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Double Price
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,14.5000
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,142.5666
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,15.8500
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,106.2000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,16.1000

In [ ]:
# how many category in Embarkes !

df['Embarked'].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [ ]:
df['Embarked'].isna().sum()
# we have 2  missings

np.int64(2)

In [ ]:
# There are 3 categories !


# Lets write a function now.

def em(x):  # takes x as an Input
    if x == 'S':
      return 1
    elif x == 'C' :
      return 2
    elif x == 'Q':
      return 3
    else :
      return 3


# apply this function to column Embarked !

df['Embarked'].apply(em)

0      1
1      2
2      1
3      1
4      1
      ..
886    1
887    1
888    1
889    2
890    3
Name: Embarked, Length: 891, dtype: int64

In [ ]:
df['em-c'] = df['Embarked'].apply(em)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Double Price,em-c
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,14.5000,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,142.5666,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,15.8500,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,106.2000,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,16.1000,1

In [ ]:
# How we can write the lambda Function!



df['Embarked'].apply(lambda x: 1 if x == 'S' else (2 if x == 'C' else 3))

0      1
1      2
2      1
4      1
5      3
      ..
886    1
887    1
888    1
889    2
890    3
Name: Embarked, Length: 890, dtype: int64

In [ ]:
# Both are same way !

In [ ]:
# How to delete a column !

# We use the Function >>>> DROP

# > both rows and dolumns
# it takes row and column !

df.drop(index = 2) # drop the third Row

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Double Price,em-c
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,14.5000,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,142.5666,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,16.1000,1
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,16.9166,3
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,103.7250,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,26.0000,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,60.0000,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,46.9000,1
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,60.0000,2
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,15.5000,3

In [ ]:
# to make it permanent we use >> INPLACE >> THIS IS PERMANENT
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Double Price,em-c
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,14.5000,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,142.5666,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,15.8500,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,16.1000,1
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,16.9166,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,26.0000,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,60.0000,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,46.9000,1
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,60.0000,2
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,15.5000,3

In [ ]:
df.drop(index = 1 , inplace = True)

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Double Price,em-c
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,14.5000,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,16.1000,1
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,16.9166,3
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,103.7250,1
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,42.1500,1

In [ ]:
# now we dont get the original data back

In [ ]:
# how to drop a columns
df.drop(columns = 'Double Price') # we can use the inplace here too !

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,em-c
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,3
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,1
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,1
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,2
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,3

In [ ]:
 # Data loading from MYSQL to pandas ! #

!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 3.3 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [ ]:
# connecting sql database with python !

# stablish connectiuon will server
import pymysql

#

In [ ]:
# HOW TO GET DATA FROM KAGGLE !!!! #